.table {
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;

  .width-120 {
    width: 120px; // reduce table column shifts when toggling sort
  }

  .width-200 {
    width: 200px; // reduce table column shifts when toggling sort
  }

  tbody tr {
    height: 71px; // make Table height more stable, prevent shifts when chaging Table pages (atleast on desktop)
  }
}

.table > :not(caption) > * > * {
  color: #7b8799;
}

.header th {
  background-color: #f6f6f6;
  text-transform: uppercase;
}
