.detailsCard {
  color: #7b8799;
  box-shadow: 0px 4px 9px 0px rgba(108, 165, 211, 0.33);

  input {
    padding: 0.7rem;
    background-color: rgb(226 235 244);
    &:focus {
      background-color: rgb(226 235 244);
    }
    &::placeholder {
      color: hsl(229, 12%, 56%);
    }
  }

  select {
    padding: 0.7rem;
    background-color: rgb(226 235 244);
  }

  .dateInput {
    // match other bootstrap inputs
    width: 100%;
    background-color: rgb(226 235 244);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .buttonsContainer {
    min-height: 4rem; // prevents card height shift when buttons appear
  }
}
