html {
  font-size: 14px;
  scrollbar-gutter: stable; // prevent page content shift (e.g. from Table page -> open Details page with no scrollbar = page content shifts)
}

.pointer {
  cursor: pointer;
}

// Toast - prevent Toast notification position shift as Bootstrap Modal closes
.modal {
  overflow-y: auto !important;
}
.modal-open {
  overflow: auto !important;
  overflow-x: hidden !important;
  padding-right: 0 !important;
}

// Tooltip
.tooltip {
  bottom: 6px !important;
}
.tooltip-inner {
  opacity: 0.8 !important;
}
.tooltip-arrow {
  display: none !important;
}

// Date Picker - Shipment Details
.react-datepicker-wrapper {
  display: block !important; // match other inputs on Details page
}

// Pagination
.pagination {
  margin: 1rem 0;
  flex-wrap: wrap;
  justify-content: center;
}

// Mock Cards & Charts
.card-list {
  height: 340px;
  .card-body {
    overflow-y: auto;
    overscroll-behavior: contain;
  }
}

.card-chart {
  margin-bottom: 1.5rem;
  .dropdown {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.spin {
  transform-origin: center;
  animation: spin 1.5s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
