html {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}

/* prevent Toast notification position shift as Bootstrap Modal closes */
.modal {
  overflow-y: auto !important;
}
.modal-open {
  overflow: auto !important;
  overflow-x: hidden !important;
  padding-right: 0 !important;
}

/* Tooltip */
.tooltip {
  bottom: 6px !important;
}
.tooltip-inner {
  opacity: 0.8 !important;
}
.tooltip-arrow {
  display: none !important;
}
