html {
  font-size: 14px;
  scrollbar-gutter: stable; /* prevent page content shift (e.g. from Table page -> open Details page with no scrollbar = page content shifts) */
}

.pointer {
  cursor: pointer;
}

/* Toast - prevent Toast notification position shift as Bootstrap Modal closes */
.modal {
  overflow-y: auto !important;
}
.modal-open {
  overflow: auto !important;
  overflow-x: hidden !important;
  padding-right: 0 !important;
}

/* Tooltip */
.tooltip {
  bottom: 6px !important;
}
.tooltip-inner {
  opacity: 0.8 !important;
}
.tooltip-arrow {
  display: none !important;
}

/* Date Picker - Shipment Details */
.react-datepicker-wrapper {
  display: block !important; /* match other inputs on Details page */
}
